DINGTALK_APP_KEY=
DINGTALK_APP_SECRET=

DINGTALK_TARGET_SHEET_NAME=2025New!
DINGTALK_OPERATOR_ID=UQrqqgBXryxyFbP7kGAfdAiEiE

LOCAL_CDP_HOST=127.0.0.1
LOCAL_CDP_PORT=19444
LOCAL_CDP_USER_DATA_DIR=./data/chrome-cdp-windows
LOCAL_CDP_HEADLESS=false
LOCAL_CDP_EXTERNAL_ONLY=false

QQ_API_BASE_URL=http://127.0.0.1:6702
QQ_API_TOKEN=
QQ_API_TIMEOUT_SECONDS=15
QQ_REPLY_TIMEOUT_SECONDS=300
QQ_POLL_INTERVAL_SECONDS=3
QQ_HISTORY_FETCH_COUNT=50
QQ_HISTORY_LOOKBACK_COUNT=5000
QQ_HISTORY_CONTEXT_WINDOW=20
NAPCAT_LAUNCHER_PATH=NapCat.Shell\launcher.bat
NAPCAT_WAIT_SECONDS=90

QQ_JINWEI_GROUP_NAME=璧久FBA海运-杭州金为
QQ_JINWEI_GROUP_ID=
QQ_JINWEI_USER_NAME=李美慧
QQ_JINWEI_USER_ID=

AGL_USERNAME=
AGL_PASSWORD=
AGL_EASYCAN_USERNAME=
AGL_EASYCAN_PASSWORD=

BAOSEN_URL=https://www.baosencloud.com/orderManage/eCommerce/firstTransportDetails?type=2
BAOSEN_USERNAME=
BAOSEN_PASSWORD=

MEITONG_API_USERNAME=
MEITONG_API_PASSWORD=

PINGYI_USERNAME=
PINGYI_PASSWORD=

WECHAT_PROVIDER=gui
WECHAT_GROUP_NAME=易达-平谊物流信息推送群
WECHAT_MENTION_NAME=伍林慧
WECHAT_DISABLE_MENTION=false
WECHAT_DEBUG_DIR=tmp
WECHAT_GUI_AUTO_SEND=false
WECHAT_GUI_ALLOWED_GROUPS=测试

GEWECHAT_BASE_URL=
GEWECHAT_TOKEN=
GEWECHAT_APP_ID=
GEWECHAT_TIMEOUT_SECONDS=15
GEWECHAT_SEND_TEXT_PATH=/message/sendText
GEWECHAT_SET_CALLBACK_PATH=/tools/setCallback
GEWECHAT_GET_LOGIN_QR_PATH=/login/getLoginQrCode
GEWECHAT_GET_TOKEN_PATH=/tools/getTokenId
GEWECHAT_CHECK_LOGIN_PATH=/login/checkLogin
GEWECHAT_CHECK_ONLINE_PATH=/login/checkOnline
GEWECHAT_USERNAME=dingtalk_ltq_bot
GEWECHAT_LOGIN_POLL_MAX_ATTEMPTS=100
GEWECHAT_LOGIN_POLL_INTERVAL_SECONDS=5
GEWECHAT_REGION_ID=
GEWECHAT_PROXY_IP=
GEWECHAT_CHAT_WXID=
GEWECHAT_AT_WXID=
GEWECHAT_CALLBACK_URL=
GEWECHAT_CALLBACK_EVENTS_PATH=tmp/gewechat-callback-events.jsonl
