DINGTALK_APP_KEY=
DINGTALK_APP_SECRET=

API_HOST=0.0.0.0
API_PORT=18081
API_AUTH_TOKEN=

LOCAL_CDP_HOST=127.0.0.1
LOCAL_CDP_PORT=19444
LOCAL_CDP_USER_DATA_DIR=./data/chrome-cdp-linux
LOCAL_CDP_HEADLESS=false
LOCAL_CDP_EXTERNAL_ONLY=true
LOCAL_CDP_BROWSER_BIN=

CHROME_BIN=/usr/bin/google-chrome

UPSTREAM_PUBLIC_GATEWAY_URL=http://121.41.4.126:18743
