DINGTALK_APP_KEY=
DINGTALK_APP_SECRET=

API_HOST=0.0.0.0
API_PORT=18081
API_AUTH_TOKEN=

LOCAL_CDP_HOST=127.0.0.1
LOCAL_CDP_PORT=19444
LOCAL_CDP_USER_DATA_DIR=./data/chrome-cdp-windows
LOCAL_CDP_HEADLESS=false
LOCAL_CDP_EXTERNAL_ONLY=true
LOCAL_CDP_STOP_WHEN_IDLE=false
LOCAL_CDP_BROWSER_BIN=

QQ_API_BASE_URL=http://127.0.0.1:6702
QQ_API_TOKEN=
NAPCAT_LAUNCHER_PATH=NapCat.Shell\launcher.bat
NAPCAT_WAIT_SECONDS=90

UPSTREAM_PUBLIC_GATEWAY_URL=http://121.41.4.126:18743
USE_TAILSCALE_UPSTREAM=1
